html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./media/Logo.png'); /* Replace with the correct path to your logo image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center center;
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed;
}

@media (max-width: 800px) {
    body {
      background-size: contain;
    }
  }

  .main-page {
    text-align: center;
    margin-top: 20px;
    position: relative;
  }
  
  .main-page p {
    margin-top: 400px;
    font-size: 24px;
  }
  
  .main-page p::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .main-page p span {
    display: inline-block;
    vertical-align: middle;
  }
  